{% extends "base.html" %}

{% block title %}Patients{% endblock %}

{% block heading %}Patients{% endblock %}

{% block content %}
<div id="patients-container">
    <ul id="patients-list">
        {% for name, id in names_ids %}
            <li class="patient-item">
                <span class="patient-name"><a href="/individualpatient/{{ id }}" class="view-link">{{ name }}</a></span>
                <!--<a href="/individualpatient/{{ id }}" class="view-link"></a> -->
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
