{% extends "base.html" %}

{% block title %}Patients{% endblock %}

{% block heading %}Patients{% endblock %}

{% block content %}
<style>
    .chart-container {
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
        margin-right: 10px;
        display: inline-block; /* Add this style to make the charts appear side by side */
    }

    .charts-wrapper {
        text-align: center; /* Add this style to center align the charts horizontally */
    }
</style>
<ul>
    <li>
        <strong>Name:</strong> {{ patient.name }} <br>
        <strong>ID:</strong> {{ patient.id }} <br>
        <strong>Address:</strong> {{ patient.address }} <br>
        <!-- Add additional fields as needed -->
        <!-- Example: <strong>Gender:</strong> {{ patient.gender }} <br> -->
        <!-- Example: <strong>Birth Date:</strong> {{ patient.birth_date }} <br> -->
        <!-- Example: <strong>Phone Number:</strong> {{ patient.phone_number }} <br> -->
        <a href="/vitals/{{ patient.id }}">Add Vitals</a>
    </li>
    <h1>Vital Signs</h1>
    <div class="charts-wrapper">
        <div id="o2-chart" class="chart-container charts-wrapper"></div>
        <div id="o2_today-chart" class="chart-container charts-wrapper"></div>
        <div id="hr-chart" class="chart-container charts-wrapper"></div>
        <div id="hr_today-chart" class="chart-container charts-wrapper"></div>
        <div id="temp-chart" class="chart-container charts-wrapper"></div>
        <div id="temp_today-chart" class="chart-container charts-wrapper"></div>
    </div>

    <script>
        // Access the data passed from the backend
        let overallLabels = [];
        let overallO2Levels = [];
        let overallHeartRates = [];
        let overallTemperatures = [];
        let time_today = [];
        let o2_today=[];
        let heart_rates_today = [];
        let temp_today = [];
        // Create the charts
 

        // Function to create all the charts
        function createCharts(time_today) {
            const chartTypes = ['o2', 'o2_today', 'hr', 'hr_today', 'temp', 'temp_today'];

            chartTypes.forEach((chartType) => {
                const chartContainer = document.getElementById(`${chartType}-chart`);
                createChart(chartType, chartContainer, time_today, heart_rates_today);
            });

            // ...
        }

        // Function to create a chart with the specified type
        function createChart(chartType, container, time_today,heart_rates_today) {
            const data = [];
            let yData = [];
            
            if (chartType === 'o2') {
                // Oxygen Levels
                yData = overallO2Levels;
                // console.log(overallLabels)
                data.push({
                    x: overallLabels,
                    y: yData,
                    type: 'scatter',
                    line: { color: 'rgba(75, 192, 192, 1)' },
                    name: 'Oxygen Levels ',
                });
                title = 'O2 Levels';
                ytitle= "SpO2"
            }else if (chartType === 'o2_today') {
                // Heart Rate
                // console.log(o2_today)
                yData = o2_today;
                // console.log(o2_today)
                data.push({
                    x: time_today,
                    y: yData,
                    type: 'scatter',
                    line: { color: 'rgba(75, 192, 192, 1)' },
                    name: 'O2 levels ',
                });
                title = 'O2 levels today';
                ytitle= "SpO2"
            } 
            else if (chartType === 'hr') {
                // Heart Rate
                yData = overallHeartRates;
                data.push({
                    x: overallLabels,
                    y: yData,
                    type: 'scatter',
                    line: { color: 'rgba(255, 0, 0, 1)' },
                    name: 'Heart Rate levels ',
                });
                title = 'Heart Rate Levels';
                ytitle= "Heart rate"
            }  else if (chartType === 'hr_today') {
                // Heart Rate
                yData = heart_rates_today;
                console.log(yData);
                data.push({
                    x: time_today,
                    y: yData,
                    type: 'scatter',
                    line: { color: 'rgba(255, 0, 0, 1)' },
                    name: 'Heart Rate levels ',
                });
                title = 'Heart Rate Levels';
                ytitle= "Heart rate"
            }else if (chartType === 'temp') {
                // Temperature
                yData = overallTemperatures;
                data.push({
                    x: overallLabels,
                    y: yData,
                    type: 'scatter',
                    line: { color: 'rgba(0, 0, 255, 1)' },
                    name: 'Temperature',
                });
                title = 'Temperature';
                ytitle= "Fahrenheit"
            }else if (chartType === 'temp_today') {
                // Temperature
                yData = temp_today;
                data.push({
                    x: time_today,
                    y: yData,
                    type: 'scatter',
                    line: { color: 'rgba(0, 0, 255, 1)' },
                    name: 'Temperature',
                });
                title = 'Temperature';
                ytitle= "Fahrenheit"
            }


            const layout = {
                title: title,
                xaxis: {
                    title: 'Date',
                    type: 'date',
                },
                yaxis: {
                    title: ytitle,
                },
            };
            if (yData.length === 0) {
                layout.yaxis.range = [80, 100];
            }

            Plotly.newPlot(container, data, layout);
        }

        // Update the charts
        function updateCharts(labels, o2Levels, heartRates, temperatures,o2_levels_today,heart_rates_today,temperature_today,time_today) {
            overallLabels = labels;
            overallO2Levels = o2Levels;
            overallHeartRates = heartRates;
            overallTemperatures = temperatures;
            o2_today=o2_levels_today;
            heart_rates_today=heart_rates_today;
            time_today=time_today;
            temp_today = temperature_today
            console.log(heart_rates_today)
            
            const chartContainers = document.querySelectorAll('.chart-container');
            chartContainers.forEach((container, index) => {
                const chartType = ['o2', 'o2_today','hr','hr_today','temp','temp_today'][index];
                createChart(chartType, container, time_today,heart_rates_today);
            });
        }


        // Function to send a POST request to generate and save random data
        function sendObservationData() {
            const urlParts = window.location.href.split('/');
            const patientId = urlParts[urlParts.length - 1];
            $.ajax({
                url: `/fhir/observation/${patientId}`,
                type: 'POST',
                success: function(response) {
                    console.log('Data generated and saved successfully');
                },
                error: function(xhr, status, error) {
                    console.error('Error generating and saving data:', error);
                }
            });
        }

        // Function to send a GET request to retrieve the latest data for visualization
        function getObservationData() {
            const urlParts = window.location.href.split('/');
            const patientId = urlParts[urlParts.length - 1];
            $.ajax({
                url: `/fhir/observation?id=${patientId}`,
                type: 'GET',
                success: function(response) {
                    const { timestamps, o2_levels, heart_rates, temperatures,o2_levels_today,heart_rates_today,
                    temperature_today,time_today } = response;
                    // console.log(time_today);
                    updateCharts(timestamps, o2_levels, heart_rates, temperatures,o2_levels_today,heart_rates_today,
                    temperature_today,time_today);
                    console.log(heart_rates_today);

                    console.log('Data retrieved successfully');
                },
                error: function(xhr, status, error) {
                    console.error('Error retrieving data:', error);
                }
            });
        }

        function sendAndRetrieveObservationData() {
            // sendObservationData();  // Call the function to send observation data
            getObservationData();   // Call the function to retrieve observation data
        }

        // Call the sendAndRetrieveObservationData function initially
        sendAndRetrieveObservationData();

        // Call the sendAndRetrieveObservationData function every minute
        setInterval(sendAndRetrieveObservationData, 60000);

        // Example usage: Trigger the updateCharts() function when the container is loaded
        $(document).ready(function() {
            createCharts(time_today,heart_rates_today);
        });
    </script>
</body>
</html>


<!-- <script src="{{ url_for('static', path='/script.js') }}"></script> -->
{% endblock %}
