{% extends "base.html" %}

{% block title %}Patients{% endblock %}

{% block heading %}Patients{% endblock %}

{% block content %}
<style>
    .chart-container {
        width: 600px;
        height: 400px;
        margin-bottom: 20px;
        margin-right: 10px;
        display: inline-block; /* Add this style to make the charts appear side by side */
    }

    .charts-wrapper {
        text-align: center; /* Add this style to center align the charts horizontally */
    }
</style>
<ul>
    <li>
        <strong>Name:</strong> {{ patient.name }} <br>
        <strong>ID:</strong> {{ patient.id }} <br>
        <strong>Address:</strong> {{ patient.address }} <br>
        <!-- Add additional fields as needed -->
        <!-- Example: <strong>Gender:</strong> {{ patient.gender }} <br> -->
        <!-- Example: <strong>Birth Date:</strong> {{ patient.birth_date }} <br> -->
        <!-- Example: <strong>Phone Number:</strong> {{ patient.phone_number }} <br> -->
        <a href="/vitals/{{ patient.id }}">Add Vitals</a>
    </li>
    <h1>Vital Signs</h1>
    <div class="charts-wrapper">
        <div id="o2-chart" class="chart-container charts-wrapper"></div>
        <div id="o2_today-chart" class="chart-container charts-wrapper"></div>
        <div id="hr-chart" class="chart-container charts-wrapper"></div>
        <div id="hr_today-chart" class="chart-container charts-wrapper"></div>
        <div id="temp-chart" class="chart-container charts-wrapper"></div>
        <div id="temp_today-chart" class="chart-container charts-wrapper"></div>
    </div>

<script>    $(document).ready(function() {
     sendAndRetrieveObservationData();
    // Call the sendAndRetrieveObservationData function every minute
    setInterval(sendAndRetrieveObservationData, 10000);

    createCharts(time_today,heart_rates_today);
});</script>
{% endblock %}
