body{
    background-color: #8fc2f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: scroll;
}
h1, h2 {
    color: #333;
}
h1 {
    padding: 20px;
    margin: 20px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff
}

a:hover {
   /* background:#2bab0d;*/
    border-radius: 3px;
}


#patients-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    /*padding: 20px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*background-color: #2bab;*/
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.321);
}

#patients-container h1 {
    color: #333;
}


.patient-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #404140;
    margin-bottom: 10px;
    color:#007bff;
    display: flex; /* Add this property */
    justify-content: center; /* Add this property */
    align-items: center; /* Add this property */
}
.patient-name {
    font-weight: bold;
    color: #333;
    text-align: center; 
   
}
.patient-h1{
    text-align: center;
}
@media screen and (max-width: 600px) {
    #patients-container {
        padding: 10px;
    }
}


/* Login styles */
#login-container {
    max-width: 400px;
    margin: 0px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    background-image: url("logo1.png");
    height: 230px; /*or 70%, or what you want*/
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: block;
 }

 .app-name {
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   text-align: center;
   align-items: center; 
   margin: 0;
 }


form label {
        text-align: left;
        padding-right: 10px; 
        display: block;
        margin-bottom: 8px;
        /* margin-top: 0px; */
}

form input[type="text"],
form input[type="password"] form input[type="email"]{
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    width: 100%;
    padding: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    #login-container {
        padding: 10px;
    }
}

#register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    #register-container {
        padding: 10px;
    }
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Patient dropdown */


/*HomePage*/
.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    text-align: center;
    padding: 0 px;
    margin: -10px;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}

.center-content a {
    margin: 5px 0;
}

.button-container {
    margin-top: 10px;
}


.button-box {
   background-color: #00FF00;
    padding: 10px;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
   background-color: green;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/*.center-buttons {
    margin-top: 20px;
}*/
/*.text {
    margin-bottom: 10px; 
  }*/

/*RegisterPage*/
.center-content_register {
    display: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 70px;
    margin: 55px;
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}


/*Vitalpage*/
#center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .menu-bar {
    /* Additional styles for the menu bar */
  }
  
  
/*button_home_logout*/

#logout-button,
#home-button {
    color: #ffffff;
    padding: 5px ;
    border-radius: 5px;
    cursor: pointer;
    }

#logout-button:before,
#home-button:before {
        content: "";
        position: absolute;
        top: -4px;
        left: -4px;
        right: -4px;
        bottom: -4px;
        /*border: 1px solid;
        border-radius: 10px;*/
    }

#logout-button {
        margin-left: 10px;
        background-color: #ff0000;
        border-color: #ff0000;
    }

#logout-button {
        position: fixed;
        top: 10px;
        right: 10px;
        display: flex;
        z-index: 9999;
    }

 #home-button {
        position: fixed;
        top: 10px;
        right: 70px;
        display: flex;
        z-index: 9999;
        background-color: #007bff;
        border-color: #007bff;
    }

/*back-button*/
.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    z-index: 9999;
}

.back-box {
    display: inline-block;
    padding: 5px 10px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
}
/*CreatePatients */

/*.create-patient-box {
    display: inline-block;
    padding: 5px 10px;
    background-color: #0000FF;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 10px;
}
#top-buttons {
    position: absolute;
    top: 10px;
    left: 10px;
}*/
/*topbuttons*/
.button-boxes {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    z-index: 9999;
  }
  
  .blue-box {
    margin-right: 10px;
  }
  
  .blue-button {
    display: inline-block;
    padding: 5px 7px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    border-radius: 5px;
  }
  
/*notify*/

/*.notification-button {
    background-color: white;
    border: 1px solid black;
    padding: 5px 10px;
    display: flex;
    align-items: center;
  }

.notification-number {
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 50%;
    font-size: 12px;
    margin-left: 5px;
  }
  
.modal-dialog {
    max-width: 500px;
  }
  
.modal-content {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 10;
    width: 300px;

 }
.modal.fade {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(0, 0, 0, 0.5);*/ 
/* } */
   
/*.modal-title{
    text-align: center;
}
.modal-footer{
    text-align: center;
}
.modal-body {
    font-size: 16px;
    text-align: center;
    
}*/

/* patient-button-vital-signs*/

/*.button-container {
    /*text-align: center;
    align-items: center;
  }*/
  
 /* .green-button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
  }*/
  

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border: 1px solid black;
    padding: 5px 10px;
    align-items: center;
    }
  
  .notification-number {
      background-color: red;
      color: white;
      padding: 2px 5px;
      border-radius: 50%;
      font-size: 12px;
      margin-left: 5px;
    }
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-footer{
    text-align: center;
}
.modal-body {
    font-size: 16px;
    text-align: center;
    
}