body{
    background-color: #8fc2f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 200px;
    overflow-y: scroll;
}
h1, h2 {
    color: #333;
}
h1 {
    padding: 20px;
    margin: 20px;
}

h3{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #fff
}

a:hover {
    background:#2bab0d;
    border-radius: 3px;
}


#patients-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2bab;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#patients-container h1 {
    color: #333;
}


.patient-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    background-color: #404140;
    margin-bottom: 10px;
    color:#007bff;
}
.patient-name {
    font-weight: bold;
    color: #333;
}
.patient-h1{
    text-align: center;
}
@media screen and (max-width: 600px) {
    #patients-container {
        padding: 10px;
    }
}


/* Login styles */
#login-container {
    max-width: 400px;
    margin: 0px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    background-image: url("logo1.png");
    height: 230px; /*or 70%, or what you want*/
    background-size: inherit;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    display: block;
 }

 .app-name {
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   text-align: center;
   align-items: center; 
   margin: 0;
 }


form label {
        text-align: left;
        padding-right: 10px; 
        display: block;
        margin-bottom: 8px;
        /* margin-top: 0px; */
}

form input[type="text"],
form input[type="password"] form input[type="email"]{
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    width: 100%;
    padding: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    #login-container {
        padding: 10px;
    }
}

#register-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Responsive styles */
@media screen and (max-width: 600px) {
    #register-container {
        padding: 10px;
    }
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 95%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Patient dropdown */
