<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}"> -->
   <!-- <link rel="stylesheet" href="https://aswath1999-ominous-yodel-xqgv94995rwf99xv-8000.preview.app.github.dev/static/styles.css"> -->
    <link rel="stylesheet" href=" https://aboruahcode-vigilant-space-robot-7x469wvvv5vfpw99-8000.preview.app.github.dev/static/styles.css">



   
</head>
<body>
    <h1>{% block heading %}{% endblock %}</h1>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
   <!-- <script src="https://aswath1999-ominous-yodel-xqgv94995rwf99xv-8000.preview.app.github.dev/static/script.js"></script> -->
    <script src="https://aboruahcode-vigilant-space-robot-7x469wvvv5vfpw99-8000.preview.app.github.dev/static/script.js"></script>
    <!-- <script src="{{ url_for('static', path='/script.js') }}"></script> -->

</body>
</html>
