{% extends "base.html" %}
{% block title %}Register Form{% endblock %}
{% block heading %}
<div class="center-content_register">Register form</div>
{% endblock %}
{% block content %}

<a href="/" class="back-button">
    <div class="back-box">Back</div>
</a>
<div id="register-container">
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <input type="submit" value="Register">
    </form>
</div>
<!--<script>
    // JavaScript code to handle the click event of the "BACK" button
    var backButton = document.querySelector('.back-button');
    backButton.addEventListener('click', function() {
        window.location.href = "/";
    });
</script> -->
{% endblock %}
