{% extends "base.html" %}
{% block title %}Register Form{% endblock %}
{% block content %}
<div class="img-container"><div class="logo"></div>
    <!-- <img src="{{ url_for('static', path='logo1.png')}} class="logo"> -->
   <!--  <div class="img-container"><div class="logo"> </div> -->
    <h1 class="app-name"><sup style="font-size:30px">NURS</sup><strong style="font-size:50px">E</strong
            style="font-size:35px">ASE</h1>
</div>

<a href="/" class="back-button">
    <div class="back-box">Back</div>
</a>
<div id="register-container">
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br>
        <input type="submit" value="Register">
    </form>
</div>
{% endblock %}
